.nav-item{
  color: #ffffff;
  margin-bottom: .3rem;

  a{
    color: inherit;
    font-size: 1.2rem;

    &:hover{
      text-decoration: none;
    }

    &.active{
      color: red;
    }
  }
}

.nav-holder{
  padding: 0;
  margin: 0;
  list-style-type: none;
}